body{
    font-family: "Microsoft Yahei","微软雅黑",SimSun,sans-serif !important; 
    background-color: #F7F7F7;
}
input, label, select, option, textarea, button, fieldset, legend { 
    font-family: "Microsoft Yahei","微软雅黑",SimSun,sans-serif !important;
}
.main-container{
    width: 1040px;
    padding-top: 70px 20px 30px 20px;
    margin: 0 auto;
}
.icon--gitee{
    background-image: url('../../sources/images/icon-gitee.ico'); 
    background-repeat:no-repeat;
    padding-left: 20px;
}
.page-content{
    margin-top: 70px;
}
.my-thumbnail{
    border: solid rgba(77, 80, 82, 0.16);
    height: 150px;
}
.my-thumbnail:hover{
    background: #f7f7f7;
    border-color: #fff;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 45px 60px -50px #000000;
}
.my-top{
    padding-top: 40px;
}