.statement{
    border-top: #e0e0e0 1px dashed;
    border-right: #e0e0e0 1px dashed;
    border-bottom: #e0e0e0 1px dashed;
    border-left: #e0e0e0 1px dashed;
    margin-top: 22px;
    margin-bottom: 22px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    background: url('../../sources/images/r_1.png') #e5f1f4 no-repeat 1% 50%;
    font-family: 微软雅黑;
    font-size: 11px;
}