// 文章声明版权
.statement{
    border: #e0e0e0 1px dashed;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 10px 10px 10px 120px;
    background: url('../../sources/images/r_1.png') #e5f1f4 no-repeat 1% 50%;
    font-family: 微软雅黑;
    font-size: 11px;
}