---
layout: default
---

<div class="home">

   <!-- <h1 class="page-heading">Posts</h1>  -->
  
  {{ content }}

  <ul class="post-list content col-sm-10 col-md-9">
    <form action="/search.html" method="get">
      <div class="form-group row">
        <div class="col-md-11">
          <input type="text" class="form-control" id="search-box" name="query" placeholder="请输入关键字">
        </div>
        <div class="col-md-1">
          <button type="submit" class="btn btn-success float-sm-right">搜一搜</button>
        </div>
      </div>
    </form>

    {% for post in site.posts %}
      <!-- <li> -->
        {% assign date_format = site.minima.date_format | default: "%Y-%m-%d %H:%M:%S" %}
        <!-- <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li> -->

      <a href="{{ post.url | relative_url }}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ post.title | escape }}</h5>
          <small>{{ post.date | date: date_format }}</small>
        </div>
      </a>
    {% endfor %}
  </ul>

  <div class="col-sm-12 col-md-3"></div>

  <!-- <p class="我的码云">git me <a href="https://gitee.com/cripps" target=_blank>via GitEE</a></p> -->

</div>
